# Supabase PostgreSQL
DATABASE_URL="postgresql://postgres.imwlkvrqujcsivxzsonx:RW%26dKV9-.%234a9jy@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Used for migrations
DIRECT_URL="postgresql://postgres.imwlkvrqujcsivxzsonx:RW%26dKV9-.%234a9jy@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"

# Authentication
AUTH_SECRET="YOUR_LONG_RANDOM_SECRET"

# Admin seed credentials
ADMIN_EMAIL="iamgowthamsaravanakumar@gmail.com"
ADMIN_PASSWORD="kavya-162600"

PORT=10000
NODE_ENV="development"
